<div class="inter">
  <%= render 'layouts/header' %>
</div>

<section class="video">
  <%= render 'support_us/support_video' %>
</section>

<section class="scared">
  <%= render 'support_us/scared' %>
</section>

<section class="we-help-you">
  <%= render 'support_us/we_help_you' %>
</section>

<div class="inter">
  <%= render 'layouts/footer' %>
</div>
