<h1 class="find-title">Busco donadores</h1>

<%= form_for :receiver, url: receivers_path, html: {class: 'find-form'} do |f| %>

  <div class="find-section">
    <h3 class="find-subtitle">Datos del receptor</h3>
    <div class="find-row">
      <%= f.label :name, '¿Quién recibirá la sangre?' %><br>
      <%= f.text_field :name, class: 'find-field' %>
    </div>
    <div class="find-row">
      <%= f.label :bloodtype, 'Tipo de sangre' %><br>
      <%= f.select(:bloodtype,
        options_for_select(
          [
            ['O+'], ['O-'],
            ['A+'], ['A-'],
            ['B+'], ['B-'],
            ['AB+'], ['AB-']
          ],
        ), {}, class: 'find-field') %>
    </div>
    <div class="find-row">
      <%= f.label :donationtype, 'Tipo de donación' %><br>
      <%= f.select(:donationtype,
        options_for_select(
          [
            ['Sangre'],
            ['Plaquetas']
          ],
        ), {}, class: 'find-field') %>
    </div>
    <div class="find-row">
      <%= f.label :units, 'Unidades que necesita' %><br>
      <%= f.text_field :units, class: 'find-field' %>
    </div>
    <div class="find-row">
      <% hours = ['12:00 a.m.', '1:00 a.m.', '2:00 a.m.', '3:00 a.m.', '4:00 a.m.', '5:00 a.m.',
                  '6:00 a.m.', '7:00 a.m.', '8:00 a.m.', '9:00 a.m.', '10:00 a.m.', '11:00 a.m.',
                  '12:00 p.m.', '1:00 p.m.', '2:00 p.m.', '3:00 p.m.', '4:00 p.m.', '5:00 p.m.',
                  '6:00 p.m.', '7:00 p.m.', '8:00 p.m.', '9:00 p.m.', '10:00 p.m.', '11:00 p.m.'] %>
      <%= f.label :timestart, 'Horario a presentarse' %><br>
      <%= f.select(:timestart, options_for_select(hours), {}, class: 'find-field find-time') %>
      <span>a</span>
      <%= f.select(:timeend, options_for_select(hours), {}, class: 'find-field find-time') %>
    </div>
    <div class="find-row">
      <%= f.label :timestart2, 'Segundo horario (opcional)' %><br>
      <%= f.select(:timestart2, options_for_select(hours), {}, class: 'find-field find-time') %>
      <span>a</span>
      <%= f.select(:timeend2, options_for_select(hours), {}, class: 'find-field find-time') %>
    </div>
    <div class="find-row">
      <%= f.label :days, 'Días en que puede presentarse' %><br>
      <div class="flex-row">
        <% days = ['lun', 'mar', 'mie', 'jue', 'vie', 'sab', 'dom'] %>
        <% days.each do |day| %>
          <%= f.check_box :days, {multiple: true, class: 'find-checkbox'}, day, false %>
          <%= f.fields_for :days do |d| %>
            <%= d.label day, class: 'find-check' %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="find-section">
    <h3 class="find-subtitle">Lugar al que asistir para donar</h3>
    <div class="find-row">
      <%= f.label :hospital, 'Nombre del lugar' %><br>
      <%= f.text_field :hospital, class: 'find-field' %>
    </div>
    <div class="find-row">
      <%= f.label :street, 'Calle' %><br>
      <%= f.text_field :street, class: 'find-field' %>
    </div>
    <div class="find-row">
      <%= f.label :number, 'Número' %><br>
      <%= f.text_field :number, class: 'find-field' %>
    </div>
    <div class="find-row">
      <%= f.label :colony, 'Colonia' %><br>
      <%= f.text_field :colony, class: 'find-field' %>
    </div>
    <div class="find-row">
      <%= f.label :zipcode, 'Código Postal' %><br>
      <%= f.text_field :zipcode, class: 'find-field' %>
    </div>
    <div class="find-row">
      <%= f.label :state, 'Estado' %><br>
      <%= f.select(:state,
        options_for_select(
          [
            ['Aguascalientes'], ['Baja California'],  ['Baja California Sur'],
            ['Campeche'],       ['CDMX'],             ['Chiapas'],
            ['Chihuahua'],      ['Coahuila'],         ['Colima'],
            ['Durango'],        ['Estado de México'], ['Guanajuato'],
            ['Guerrero'],       ['Hidalgo'],          ['Jalisco'],
            ['Michoacán'],      ['Morelos'],          ['Nayarit'],
            ['Nuevo León'],     ['Oaxaca'],           ['Puebla'],
            ['Querétaro'],      ['Quintana Roo'],     ['San Luis Potosí'],
            ['Sinaloa'],        ['Sonora'],           ['Tabasco'],
            ['Tamaulipas'],     ['Tlaxcala'],         ['Veracruz'],
            ['Yucatán'],        ['Zacatecas']
          ],
        ), {}, class: 'find-field') %>
    </div>
    <div class="find-row">
      <%= f.label :city, 'Municipio' %><br>
      <%= f.text_field :city, class: 'find-field' %>
    </div>
  </div>
  <div class="find-section">
    <h3 class="find-subtitle">Persona(s) para contacto</h3>
    <div class="find-row">
      <%= f.label :contact, 'Nombre' %><br>
      <%= f.text_field :contact, class: 'find-field' %>
    </div>
    <div class="find-row">
      <%= f.label :phone, 'Teléfono' %><br>
      <%= f.telephone_field :phone, class: 'find-field' %>
    </div>
    <div class="find-row">
      <%= f.label :contact2, 'Nombre (opcional)' %><br>
      <%= f.text_field :contact2, class: 'find-field' %>
    </div>
    <div class="find-row">
      <%= f.label :phone2, 'Teléfono (opcional)' %><br>
      <%= f.telephone_field :phone2, class: 'find-field' %>
    </div>
  </div>
  <div class="find-section">
    <%= f.submit 'Enviar', class: 'find-submit flat-btn' %>
  </div>

<% end %>