<div class="inter">
  <%= render 'layouts/header' %>
</div>

<section class="what-we-do">
  <%= render 'about_us/what_we_do' %>
</section>

<section class="our-values our-values-js">
  <%= render 'about_us/our_values' %>
</section>

<section class="be-part">
  <%= render 'about_us/be_part' %>
</section>

<div class="inter">
  <%= render 'layouts/footer' %>
</div>
