<div class="inter">
  <%= render 'layouts/header' %>
</div>

<section class="cover">
  <%= render 'cover' %>
</section>

<section class="campaigns">
  <%= render 'campaigns' %>
</section>

<div class="our-numbers our-numbers-js inter">
  <%= render 'our_numbers' %>
</div>

<!--
<section class="testimony">
  <%= render 'testimony' %>
</section>
!-->

<section class="sponsors">
  <%= render 'sponsors' %>
</section>

<div class="inter">
  <%= render 'layouts/footer' %>
</div>
