<section class="cover">
  <%= render 'cover' %>
</section>

<section class="campaigns">
  <%= render 'campaigns' %>
</section>

<div class="our-numbers">
  <%= render 'our_numbers' %>
</div>

<section class="testimony">
  <%= render 'testimony' %>
  <%= render 'sponsors' %>
</section>

<section class="more-about-us">
  <%= render 'more_about_us' %>
  <%= render 'layouts/footer' %>
</section>
