<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Alguien ha escrito a Donadores compulsivos</h1>
    <p>
      Asunto: <%= @contact.subject %>
    </p>
    <p>
      Nombre: <%= @contact.name %>
    </p>
    <p>
      Teléfono: <%= @contact.phone %>
    </p>
    <p>
      Email: <%= @contact.email %>
    </p>
    <p>
      <%= @contact.message %>
    </p>
  </body>
</html>