<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hay un nuevo solicitante de sangre</h1>
    <p>Nombre: <%= @name %></p>
    <p>Sangre: <%= @bloodtype %></p>
    <p>Ciudad: <%= @city %></p>
    <p>Teléfono: <%= @phone %></p>
    <p>Hospital: <%= @hospital %></p>
    <p>Dirección: <%= @address %></p>
    <p>Horario: <%= @hours %></p>
    <p>Email: <%= @email %></p>
  </body>
</html>
