<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Alguien se ha interesado en patrocinarnos.</h1>
    <p>
      Su nombre es <%= @sponsor.name %>
    </p>
    <p>
      Teléfono: <%= @sponsor.phone %>
    </p>
    <p>
      Email: <%= @sponsor.email %>
    </p>
    <p>
      Estado: <%= @sponsor.state %>
    </p>
    <p>
      Ciudad: <%= @sponsor.city %>
    </p>
    <p>
      Oraganización: <%= @sponsor.organization %>
    </p>
  </body>
</html>