<h1 class="sponsor-us-title">Ayúdanos a salvar más vidas</h1>
<div class="sponsor-us-wrapper">
  <%= form_tag('/contact_mail') do %>
  	<%= text_field 'person', 'name', class: 'sponsor-us-field', placeholder: 'Nombre' %><%= tag(:br) %>
  	<%= telephone_field(:person, :phone, class: 'sponsor-us-field', placeholder: 'Teléfono') + tag(:br) %>
  	<%= email_field(:person, :email, class: 'sponsor-us-field', placeholder: 'e-mail') + tag(:br) %>
  	<%= select_tag(:city,
  	options_for_select(
  	  [
  		  ['Colima', 1], ['Guadalajara', 2],
  		  ['Monterrey', 3], ['CDMX', 4]
  	  ]
  	), class: 'sponsor-us-field', prompt: 'Ciudad') + tag(:br) %>
  	<%= text_field 'person', 'organization', class: 'sponsor-us-field', placeholder: 'Organización' %><%= tag(:br) %>
  	<%= submit_tag 'Enviar', class: 'sponsor-us-submit' %>
  <% end %>
</div>