<footer class="dc-footer">
  <div class="footer-wave"></div>
  <div class="footer-social">
    <div class="footer-item">
      <%= link_to image_tag('facebook.png'), 'facebook.com', class: 'footer-facebook footer-snlink circle' %>
    </div>
    <div class="footer-item">
      <%= link_to image_tag('instagram.png'), 'instagram.com', class: 'footer-instagram footer-snlink circle' %>
    </div>
    <div class="footer-item">
      <%= link_to image_tag('twitter.png'), 'twitter.com', class: 'footer-twitter footer-snlink circle' %>
    </div>
  </div>	
  <div class="footer-column">
  	<div class="footer-center-col">
  	  <h4 class="footer-title">Contacto</h4>
  	  <p class="footer-paragraph">Calle Juárez No. 386</p>
  	  <p class="footer-paragraph">Col. Centro, C.P. 28000</p>
  	  <p class="footer-paragraph">Colima, Col.</p>
  	  <p class="footer-paragraph">(52) 312 312 1842</p>
      <p class="footer-paragraph">info@donadorescompulsivos.org</p>
  	</div>
  </div>
  <div class="footer-column">
  	<div class="footer-center-col">
  	  <h4 class="footer-title">Política de privacidad</h4>
  	  <p class="footer-paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
  	</div>
  </div>
  <div class="footer-column">
  	<div class="footer-center-col">
  	  <h4 class="footer-title">Navegación</h4>
  	  <p class="footer-paragraph"><%= link_to 'Inicio', home_path %></p>
  	  <p class="footer-paragraph"><%= link_to 'Sobre DC', about_us_path %></p>
  	  <p class="footer-paragraph"><%= link_to 'Blog', root_path %></p>
  	  <p class="footer-paragraph"><%= link_to 'Contacto', contact_path %></p>
  	  <p class="footer-paragraph"><%= link_to 'FAQ', faq_path %></p>
  	</div>
  </div>
</footer>