<nav class="dc-header">
<%= link_to 'Logo', home_path, class: 'logo' %>
  <ul class="navigation">
  	<li class="nav-link"><%= link_to 'Inicio', home_path %></li>
  	<li class="nav-link"><%= link_to 'Sobre DC', about_us_path %></li>
  	<li class="nav-link"><%= link_to 'Blog', root_path %></li>
  	<li class="nav-link"><%= link_to 'Contacto', contact_path %></li>
  	<li class="nav-link"><%= link_to 'Preguntas frecuentes', faq_path %></li>
  </ul>
  <div class="ayudar-btn"><%= link_to 'Ayudanos a ayudar', support_us_path, class: 'flat-btn' %></div>
</nav>