<nav class="dc-header">
<%= link_to 'Logo', home_path, class: 'logo' %>
  <div class="ayudar-btn"><%= link_to 'Quiero ayudar', support_us_path, class: 'flat-btn' %></div>
  <ul class="navigation">
  	<li class="nav-link"><%= link_to 'Sobre DC', about_us_path %></li>
<!--  	<li class="nav-link"><%= link_to 'Blog', root_path %></li> !-->
  	<li class="nav-link"><%= link_to 'Contacto', new_contact_path %></li>
  	<li class="nav-link"><%= link_to 'Preguntas frecuentes', faq_path %></li>
  </ul>
</nav>